.form {
  margin-bottom: 70px;
}

.form-item {
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 50px 100px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  background-color: var(--main-bg);
  color: var(--main-color);
}

.uk-textarea.form-textarea {
  width: 100%;
  resize: vertical;
  background-color: var(--main-bg);
  color: var(--main-color);
  min-height: 120px;
}

.uk-textarea.form-textarea--name {
  resize: none;
  height: 40px;
  min-height: 40px;
}

.uk-button.uk-button-primary {
  color: #fff;
}