.task-item {
  margin: 0 auto;
}

.uk-width-1-2\@m.task-item {
  width: 100%;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.uk-card-title.task-title {
  color: var(--main-color);
}