.header {
  padding: 15px 0;
  background-color: var(--accent-color);
  margin-bottom: 50px;
}

.header__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}