*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --body-bg: #fff;
  --accent-color: #1e87f0;
  --main-bg:  #fff;
  --main-color: #5a5656;
}

body {
  background-color: var(--body-bg);
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.header {
  padding: 15px 0;
  background-color: var(--accent-color);
  margin-bottom: 50px;
}

.header__title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  margin-bottom: 70px;
}

.form-item {
  max-width: 900px;
  margin: 0 auto 50px;
  padding: 50px 100px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  background-color: #22272e;
}

.uk-textarea,
.form-item,
.uk-input,
.uk-card,
.uk-card-default .uk-card-title,
.uk-select {
  background-color: var(--main-bg);
  color: var(--main-color);
}

.uk-card-default {
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
}

.uk-textarea:focus,
.uk-input:focus,
.uk-select:focus {
  background-color: var(--body-bg);
}

.uk-textarea {
  resize: vertical;
}

.uk-button-danger {
  background-color: #f0506e;
}

.uk-card {
  width: 67%;
  margin: 0 auto;
  position: relative;
}

.uk-card:not(:last-child) {
  margin-bottom: 50px;
}

.uk-select {
  max-width: 200px;
}

.uk-select option {
  padding: 10px 0;
}

.uk-icon {
  position: absolute;
  top: 30px;
  right: 57px;
}

.uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
  fill: #f0506e;
  stroke: transparent;
}